@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono&display=swap');

#content-wrapper {
    display: grid;
    justify-content: center;
}

#todo-container {
    display: grid;
}

h1, h2, h3, p, li, span, input, button {
    font-family: "Noto Sans Mono";
}

ul.todo {
    list-style: none;
    padding: 0;
}

li {
    margin: .5rem;
    padding:0;
    display: block;
}

main {
    max-width: 80%;
    width: 80%;
}

input {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

span.task-description {
    padding: 1rem;
    min-width: 80%;
    width: 80%;
    overflow-wrap: break-word;
    word-break: break-all;
    hyphens: manual;
    hyphenate-character: auto;
}

span.complete {
    text-decoration: line-through;
    color: gray;
}

button {
    padding: 1rem;
}